{%  extends "index.html" %}

{% block page_css %}
{% endblock %}

{% block page_title %}
    <a href="{% url 'password_change' %}">修改密码</a>
{% endblock %}

{% block container %}
    {% load staticfiles %}
   <form  class="mb10" action="{% url 'password_change' %}" method="post"> {% csrf_token %}
        <div class="input-group">
            <label>原&nbsp;密&nbsp;码</label>
            <input type="password" class="form-control" name="old_password" value="{{ username }}">
        </div>
        <div class="input-group">
            <label>新&nbsp;密&nbsp;码</label>
            <input type="password" class="form-control" name="new_password1" value="{{ username }}">
        </div>
        <div class="input-group">
            <label>确认密码</label>
            <input type="password" class="form-control" name="new_password2" value="{{ username }}">
        </div>
        <div style="color:#FF0000; padding-left:12px">{{ err_message }}</div>

        <input class='btn btn-primary' type='submit' value='提交' />
        <a href="{% url 'index' %} ">
            <input class='btn btn-default' type='button' value='取消' /></a>
    </form>
{% endblock %}

