{% load staticfiles %}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>登录</title>
</head>
<body>
<br/><br/><br/>
<center>

    <table>
      <tr>
        <td colspan="2" align="center"><b><font color="#0000FF">用户登录</font></b></td>
      </tr>

    {% if form.errors %}
        <tr><td><font color="#FF0000">用户名与密码不匹配</font></td></tr>
    {% endif %}

    <form class="center" method="post" action="{% url 'login' %}">{% csrf_token %}

      <tr>
{#        <td><input type="text">用户名: {{ form.username }} </td>#}
      <td>用户名: {{ form.username }} </td>
      </tr>

      <tr>
{#        <td><input type="password">密&nbsp;&nbsp;&nbsp;码: {{ form.password }} </td>#}
      <td>密&nbsp;&nbsp;&nbsp;码: {{ form.password }} </td>
      </tr>

      <tr>
         <td>
            <input type="submit" name="login" value="登录">
{#         </td>#}
{#         <td>#}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="reset" name="reset" value="重置">
         </td>
      </tr>

    <input type="hidden" name="next" value="{{ next }}" />
  </form>

    </table>
  </center>
</body>
</html>

